.toast-container {
	z-index: 1000;
	position: absolute;
	top: 128px;
	left: 50%;
	transform: translate(-50%, 0);
	pointer-events: none;
	width: max-content;
}

.toast {
	position: relative;
	margin: 16px;
	background-color: #000;
	color: #FFF;
	padding: 13px;
	border: none;
	border-radius: 4px;
	opacity: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

.toast.rainbow {
	animation: rainbow 8s linear infinite alternate-reverse, opacity 2.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes opacity {
	0% { opacity: 1 }
	90% { opacity: 1}
	100% { opacity: 0 }
}
