.modal-wrapper {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
}

.modal-wrapper.visible {
	display: flex;
}

.modal-body {
	position: relative;
	border-radius: 8px;
	border: 1px solid #f6f7f8;
	background-color: #FFFFFF;
	color: #000000;
	box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
	width: 90%;
	max-height: 100%;
	overflow-y: auto;
	animation: modal-slide-in 0.3s, opacity-in 0.3s;
	max-width: 424px;
	padding: 16px;
	box-sizing: border-box;
}

.modal-body.invisible {
	animation: modal-slide-out 2s infinite, opacity-out 2s infinite;
}

@keyframes modal-slide-in {
	0% { opacity: 0; margin-top: 32px; }
	100% { opacity: 1; margin-top: 0px; }
}

@keyframes modal-slide-out {
	0% { opacity: 1; margin-top: 0px; }
	15% { opacity: 0; margin-top: 32px; }
	100% { opacity: 0; margin-top: 32px; }
}

@keyframes opactiy-in {
	0% { opacity: 0 }
	100% { opacity: 1; }
}

@keyframes opactiy-out {
	0% { opacity: 1; }
	15% { opacity: 0; }
	100% { opacity: 0; }
}

.modal-close {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 16px;
	right: 16px;
	cursor: pointer;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.header {
	text-transform: uppercase;
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
}

.modal-children {
	display: flex;
	flex-direction: column;
	padding: 8px 8px 16px 8px;
}

.modal-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}