.board {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

.stat-container {
	display: flex;
	flex-direction: row;
	margin: 12px 0;
}

.single-stat {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	padding: 0 4px;
}

.stat-value {
	font-weight: 400;
	font-size: 1.4rem;
}

.stat-label {
	font-size: 0.75rem;
	text-align: center;
	font-weight: 100;
}

.dist {
	margin: 12px 0;
}

.dist-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 20px;
	padding: 2px 0;
	font-size: 0.75rem;
	font-weight: 600;
}

.dist-row-label {
	width: 24px;
	min-width: 24px;
	font-size: 16px;
	font-size: 0.75rem;
	display: flex;
	align-items: center;
}

.dist-row-bar {
	height: 16px;
	border-radius: 2px 4px 4px 2px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #888;
	color: #FFF;
	padding: 0 8px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 400px;
	height: 100%;
	width: 424px;
	max-width: 424px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 64px);
	width: calc(100% - 64px);
	padding: 32px;
}

.main-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.main-item {
	position: relative;
	width: 100%;
	height: 0;
	float: left;
}

.main-item ~ .main-item {
	margin-top: 4%;
}

.submissions-container {
	padding-bottom: 16.66%;
}

.submissions {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.submission {
	flex: 1;
	height: 90%;
	border-radius: 8px;
	margin: auto 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #CCCCCC;
	font-size: 2rem;
}

.submission ~ .submission {
	margin-left: 2%;
}

.mix-container {
	padding-bottom: 100%;
}

.mix-colors {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 32px;
	flex: 1;
	overflow: hidden;
}

.mix-color {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #FFF;
	font-size: 2rem;
}

.mix-color .start-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 4rem;
	color: #FFF;
	cursor: pointer;
}

.rainbow {
	background: linear-gradient(124deg, #ec7272, #fd907f, #edd278, #e6e876, #78e98b, #73dfe4, #7b73e6, #e376ed);
	background-size: 1800% 1800%;
	animation: rainbow 36s linear infinite;
}

.mix-color .start-button:hover {
	opacity: 0.75;
}

@keyframes rainbow { 
	0%{background-position:0% 0%}
	50%{background-position:100% 100%}
	100%{background-position:0% 0%}
}

.mix-color-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0;
	flex: 1;
}

.mix-color-text > svg {
	flex: 1;
}

.mix-color-text > span:last-child {
	flex: 2;
	font-size: 4rem;
}

.selected-container {
	padding-bottom: 20%;
}

.selected-colors {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	height: 100%;
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.selected-color {
	margin: 2.8%;
	width: 14.4%;
  height: 36%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #BBB;
	background-color: #CCCCCC;
}

.filled {
	width: 100%;
  height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: selectedDot 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	cursor: pointer;
	border-radius: 50%;
}

@keyframes selectedDot {
	0% { width: 0%; height: 0%;}
	100% { width: 100%; height: 100%;}
}

.filled > svg {
	display: none;
	height: 50%;
	width: 50%;
}

.filled:hover > svg {
	display: flex;
}

.input-container {
	padding-bottom: 14.9%;
}

.input-colors {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input-color {
	flex: 1;
	height:  95.6%;;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4% 0;
}

.input-color ~ .input-color {
	margin-left: 4%;
}

.submit {
	text-align: center;
	padding: 4px 24px;
	border-radius: 8px;
	padding: 8px 6%;
	width: 94%;
	height: calc(95.6% - 8px);
	margin: 4% 0;
	margin-left: 4%;
	flex: 1;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #FFF;
	opacity: 1;
	cursor: pointer;
}

.submit[disabled] {
	cursor: not-allowed;
	color: #EEE;
	background-color: #DDD;
}

@media (max-width: 450px) {
	.submit {
		font-size: 4.5vw;
	}

	.selected-color:hover > div {
		display: none;
	}

	.main { 
		padding: 16px;
		height: calc(100% - 32px);
		width: calc(100% - 32px);
	}

	.main-item ~ .main-item {
    margin-top: 2%;
	}
}