.board {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 400px;
	height: calc(100% - 64px);
	width: 360px;
	max-width: 360px;
	padding: 32px;
}

.main-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.main-item {
	position: relative;
	width: 100%;
	height: 0;
	float: left;
}

.main-item ~ .main-item {
	margin-top: 4%;
}

.submissions-container {
	padding-bottom: 16.66%;
}

.submissions {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.submission {
	flex: 1;
	height: 90%;
	border-radius: 8px;
	margin: auto 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #CCCCCC;
	font-size: 2rem;
}

.submission ~ .submission {
	margin-left: 2%;
}

.mix-container {
	padding-bottom: 100%;
}

.mix-colors {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 32px;
	flex: 1;
	overflow: hidden;
}

.mix-color {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #FFF;
	font-size: 2rem;
}

.mix-color .start-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 4rem;
	color: #FFF;
	cursor: pointer;
}

.rainbow {
	background: linear-gradient(124deg, #ec7272, #fd907f, #edd278, #e6e876, #78e98b, #73dfe4, #7b73e6, #e376ed);
	background-size: 1800% 1800%;
	animation: rainbow 36s linear infinite;
}

.mix-color .start-button:hover {
	opacity: 0.75;
}

@keyframes rainbow { 
	0%{background-position:0% 0%}
	50%{background-position:100% 100%}
	100%{background-position:0% 0%}
}

.mix-color-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0;
	flex: 1;
}

.mix-color-text > span {
	flex: 1;
}

.mix-color-text > span:last-child {
	flex: 2;
	font-size: 4rem;
}

.selected-container {
	padding-bottom: 20%;
}

.selected-colors {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	height: 100%;
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.selected-color {
	margin: 2.8%;
	width: 14.4%;
  height: 36%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected-color > div {
	display: none;
	transform: rotate(45deg);
	color: #BBB;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	justify-content: center;
	font-size: 1.25rem;
}

.selected-color:hover > div {
	display: flex;
}

.input-container {
	padding-bottom: 14.9%;
}

.input-colors {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input-color {
	flex: 1;
	height:  95.6%;;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4% 0;
}

.input-color ~ .input-color {
	margin-left: 4%;
}

.submit {
	text-align: center;
	padding: 4px 24px;
	border-radius: 8px;
	padding: 8px 6%;
	width: 94%;
	height: calc(95.6% - 8px);
	margin: 4% 0;
	margin-left: 4%;
	flex: 1;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #FFF;
	opacity: 1;
	cursor: pointer;
}

.submit[disabled] {
	cursor: not-allowed;
	color: #EEE;
	background-color: #DDD;
}

@media (max-width: 450px) {
	.submit {
		font-size: 4.5vw;
	}
}