.board {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

.how-step {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}

.step-label {
	font-size: 0.9rem;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.step-label > strong {
	font-size: 0.8rem;
}

.step-label > span {
	margin-left: 16px;
}

.step-instructions {
	margin-top: 16px;
	font-size: 0.8rem;
}

.step-visual {
	height: 55px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 16px;
	font-size: 2rem;
}

.step-visual > .submission {
	flex: unset;
	width: 50px;
	background-color: rgb(154, 88, 176);
	color: #FFF;
	/* font-size: ; */
}

.step-visual > .submission.countdown-example {
	border: 1px solid #CCC;
	color: #FFF;
	overflow: hidden;
}

.step-visual > .submission.countdown-example:after {
	animation: countdown-example 4s infinite;
	content: '';
	background-color: #FFF;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes countdown-example {
	0% { content: '3'; background-color: rgb(154, 88, 176) }
	25% { content: '2'; background-color: rgb(154, 88, 176) }
	50% { content: '1'; background-color: rgb(154, 88, 176) }
	51% { content: '0'; background-color: rgb(255, 255, 255) }
	75% { background-color: rgb(255, 255, 255) }
	90% { background-color: rgb(255, 255, 255) }
	100% { content: '3'; background-color: rgb(154, 88, 176) }
}

.example-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	height: 40px;
	width: 100px;
}

.example-dot {
	width: 14px;
	height: 14px;
	margin: 2px;
	background-color: #CCC;
	border-radius: 50%;
	border: 1px solid #CCC;
}

@keyframes dot-pop {
	0% { background-color: #CCC;}
	100% { background-color: #CCC;}
}

@keyframes dot-pop-switch {
	0% { background-color: #CCC;}
	29.9% { background-color: #CCC;}
	30% { background-color: #EEEE11;}
	54.9% { background-color: #EEEE11;}
	55% { background-color: #CCC;}
	64.9% { background-color: #CCC;}
	65% { background-color: #EE1111;}
	74.9% { background-color: #EE1111;}
	75% { background-color: #CCC;}
	84.9% { background-color: #CCC;}
	85% { background-color: #EE1111;}
	100% { background-color: #EE1111;}
}
.example-dot:nth-child(1) {
	animation: dot-pop-1 10s infinite;
	background-color: #EE1111;
}
@keyframes dot-pop-1 {
	0% { background-color: #CCC; }
	4.9% { background-color: #CCC; }
	5% { background-color: #EE1111; }
}
.example-dot:nth-child(2) {
	animation: dot-pop-2 10s infinite;
	background-color: #1111EE;
}
@keyframes dot-pop-2 {
	0% { background-color: #CCC; }
	9.9% { background-color: #CCC; }
	10% { background-color: #1111EE; }
}
.example-dot:nth-child(3) {
	animation: dot-pop-3 10s infinite;
	background-color: #EE1111;
}
@keyframes dot-pop-3 {
	0% { background-color: #CCC; }
	14.9% { background-color: #CCC; }
	15% { background-color: #EE1111; }
}
.example-dot:nth-child(4) {
	animation: dot-pop-4 10s infinite;
	background-color: #1111EE;
}
@keyframes dot-pop-4 {
	0% { background-color: #CCC; }
	19.9% { background-color: #CCC; }
	20% { background-color: #1111EE; }
}
.example-dot:nth-child(5) {
	animation: dot-pop-5 10s infinite;
	background-color: #1111EE;
}
@keyframes dot-pop-5 {
	0% { background-color: #CCC; }
	24.9% { background-color: #CCC; }
	25% { background-color: #1111EE; }
}
.example-dot:nth-child(6) {
	animation: dot-pop-6 10s infinite;
	background-color: #EE1111;
}
@keyframes dot-pop-6 {
	0% { background-color: #CCC; }
	29.9% { background-color: #CCC; }
	30% { background-color: #EE1111; }
}
.example-dot:nth-child(7) {
	animation: dot-pop-7 10s infinite;
	animation: dot-pop-7 10s infinite;
	background-color: #1111EE;
}
@keyframes dot-pop-7 {
	0% { background-color: #CCC; }
	34.9% { background-color: #CCC; }
	35% { background-color: #1111EE; }
}
.example-dot:nth-child(8) {
	animation: dot-pop-8 10s infinite;
	background-color: #FFF;
}
@keyframes dot-pop-8 {
	0% { background-color: #CCC; }
	39.9% { background-color: #CCC; }
	40% { background-color: #FFF; }
}
.example-dot:nth-child(9) {
	animation: dot-pop-9 10s infinite;
	background-color: #FFF;
}
@keyframes dot-pop-9 {
	0% { background-color: #CCC; }
	44.9% { background-color: #CCC; }
	45% { background-color: #FFF; }
}
.example-dot:nth-child(10) {
	animation: dot-pop-10 10s infinite;
	background-color: #EE1111;
}
@keyframes dot-pop-10 {
	0% { background-color: #CCC; }
	49.9% { background-color: #CCC; }
	50% { background-color: #EE1111; }
}

@keyframes example-dot-mix {
	0% { background-color: #FFF; }
	4.9% { background-color: #FFF; }
	
	5% { background-color: #EE1111; }
	9.9% { background-color: #EE1111; }
	10% { background-color: rgb(127, 17, 127); }
	14.9% { background-color: rgb(127, 17, 127); }
	15% { background-color: rgb(164, 17, 90); }
	19.9% { background-color: rgb(164, 17, 90); }
	20% { background-color: rgb(127, 17, 127); }
	24.9% { background-color: rgb(127, 17, 127); }
	25% { background-color: rgb(105, 17, 149); }
	29.9% { background-color: rgb(105, 17, 149); }

	30% { background-color: rgb(127, 17, 127); }
	34.9% { background-color: rgb(127, 17, 127); }
	35% { background-color: rgb(111, 17, 143); }
	39.9% { background-color: rgb(111, 17, 143); }
	40% { background-color: rgb(129, 46, 157); }
	44.9% { background-color: rgb(129, 46, 157); }
	45% { background-color: rgb(143, 69, 168); }
	49.9% { background-color: rgb(143, 69, 168); }
	50% { background-color: rgb(153, 64, 153); }
	54.9% { background-color: rgb(153, 64, 153); }
}
.example-dot-mix {
	animation: example-dot-mix 10s infinite;
	background-color: rgb(154, 88, 176);
}

.stat-container {
	display: flex;
	flex-direction: row;
	margin: 12px 0 24px 0;
}

.single-stat {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	padding: 0 4px;
}

.stat-value {
	font-weight: 400;
	font-size: 1.4rem;
}

.stat-label {
	font-size: 0.75rem;
	text-align: center;
	font-weight: 200;
}

.dist {
	margin: 12px 0 24px 0;
}

.dist-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 20px;
	padding: 2px 0;
	font-size: 0.75rem;
	font-weight: 600;
}

.dist-row-label {
	width: 24px;
	min-width: 24px;
	font-size: 16px;
	font-size: 0.75rem;
	display: flex;
	align-items: center;
}

.dist-row-bar {
	color: #FFF;
	width: 100%;
}

.dist-row-bar-inner {
	padding: 0 8px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 2px 4px 4px 2px;
	background-color: #888;

}

.share-button {
	width: fit-content;
	padding: 8px 16px;
	border-radius: 8px;
	align-self: center;
	color: #FFF;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 400px;
	height: 100%;
	width: 424px;
	max-width: 424px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 64px);
	width: calc(100% - 64px);
	padding: 32px;
}

.main-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.main-item {
	position: relative;
	width: 100%;
	height: 0;
	float: left;
}

.main-item ~ .main-item {
	margin-top: 4%;
}

.submissions-container {
	padding-bottom: 16.66%;
}

.submissions {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.submission {
	flex: 1;
	height: 90%;
	border-radius: 8px;
	margin: auto 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #CCCCCC;
	font-size: 2rem;
}

.submission ~ .submission {
	margin-left: 2%;
}

.mix-container {
	padding-bottom: 100%;
}

.mix-colors {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 32px;
	flex: 1;
	overflow: hidden;
}

.mix-color {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #FFF;
	font-size: 2rem;
}

.mix-color .start-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 3.5rem;
	color: #FFF;
	cursor: pointer;
	text-align: center;
}

.rainbow {
	background: linear-gradient(124deg, #ec7272, #fd907f, #edd278, #e6e876, #78e98b, #73dfe4, #7b73e6, #e376ed);
	background-size: 1800% 1800%;
	animation: rainbow 18s linear infinite alternate;
}

.rainbow-reverse {
	background: linear-gradient(124deg, #ec7272, #fd907f, #edd278, #e6e876, #78e98b, #73dfe4, #7b73e6, #e376ed);
	background-size: 1800% 1800%;
	animation: rainbow 18s linear infinite alternate-reverse;
}

.mix-color .start-button:hover {
	opacity: 0.75;
}

@keyframes rainbow { 
	0%{background-position:0% 0%}
	100%{background-position:100% 100%}
}

.mix-color-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 3rem 0;
	flex: 1;
	font-size: 6rem;
}

.selected-container {
	padding-bottom: 20%;
}

.selected-colors {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	height: 100%;
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.selected-color {
	margin: 2.8%;
	width: 14.4%;
  height: 36%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #BBB;
	background-color: #CCCCCC;
}

.filled {
	width: 100%;
  height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: selectedDot 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	cursor: pointer;
	border-radius: 50%;
}

@keyframes selectedDot {
	0% { width: 0%; height: 0%;}
	100% { width: 100%; height: 100%;}
}

.filled > svg {
	display: none;
	height: 50%;
	width: 50%;
}

.filled:hover > svg {
	display: flex;
}

.input-container {
	padding-bottom: 14.9%;
}

.input-colors {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input-color {
	flex: 1;
	height:  95.6%;;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4% 0;
}

.input-color ~ .input-color {
	margin-left: 4%;
}

.submit {
	text-align: center;
	padding: 4px 24px;
	border-radius: 8px;
	padding: 8px 6%;
	width: 94%;
	height: calc(95.6% - 8px);
	margin: 4% 0;
	margin-left: 4%;
	flex: 1;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #FFF;
	opacity: 1;
	cursor: pointer;
}

.submit[disabled] {
	cursor: not-allowed;
	color: #EEE;
	background-color: #DDD;
}

@media (max-width: 450px) {
	.submit {
		font-size: 4.5vw;
	}

	.selected-color:hover > div {
		display: none;
	}

	.main { 
		padding: 16px;
		height: calc(100% - 32px);
		width: calc(100% - 32px);
	}

	.main-item ~ .main-item {
    margin-top: 2%;
	}
}