.button {
	text-align: center;
	padding: 8px 24px;
	border-radius: 8px;
	cursor: pointer;
	color: #FFF;
}

.button.primary {
	background-color: royalblue;
}

.button.secondary {

	color: #999;
}

.button.secondary:hover {
	background-color: #EEE;
	color: #666;
}

.button[disabled] {
	background-color: #CCCCCC;
	cursor: not-allowed;
}
