.input-color {
	flex: 1;
	height:  95.6%;;
	border-radius: 50%;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2% 0;
}

.input-color ~ .input-color {
	margin-left: 2%;
}