.App {
	background-color: #EEE;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
	min-height: -webkit-fill-available;
	width: 100vw;
	display: flex;
	justify-content: center;
}